body {
    background: url('img.jpg');
   
}

.center-div {
    background-color: #4D5770;
    width: 600px;
    height: 325px;
    opacity: 0.95;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

.white {
height: 180px;

}

.white img {
    height:75px;
    width: 75px;
    border-radius: 50%;
    position: absolute;
    right: 110px;
    bottom: 280px;
 }
.red{
    height: 160px;
    background-color: #E87382;
}

.right-box {
    width: 300px;
    background-color: #EAEDF2;
    position: relative;
    margin: 0 auto;
    bottom: 100px;
    left: 120px;
}
.leave-review{
    width: 260px;
    height: 120px;
    position: absolute;
    left: 18px;
    bottom: 85px;
    font-style: italic;
}
::placeholder{
    position: relative;
    bottom: 40px;
    left: 3px;
}
.send-review {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(235, 226, 226);
    text-decoration: none;
    text-shadow: 2px 2px 2px #383737 gr;
    font-size: 18px;
    position: relative;
    top: 115px;
    left:70px;
}
.arrow {
    color: rgb(235, 226, 226);
    position: relative;
    top: 70px;
    text-decoration: none;
    left: 215px;
    font-size: 26px;
    font-weight: bold;
}

.left-arrow {

    color: red;
    position: relative;
    left: 20px;
    top: 20px;
    size: 32px;
    text-decoration: none;

}
.left-text {

    color: rgb(235, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 40px;
    top: 50px;
}
.address {

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(235, 226, 226);
    opacity: 0.70;
    position: relative;
    top: 70px;
    left:40px;
    font-size: 16px;
 
}
.border-dashed {
    width: 240px;
    border-bottom: dashed;
    font-weight: lighter;
    opacity: 0.55;
    padding-top: 40px;
   position: relative;
   right: 20px;
 
}
.phone-number {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(235, 226, 226);
    opacity: 0.95;
    position: absolute;
    top: 85px;
    left:25px;
    font-size: 26px;
    font-weight: bold;

}
.rating {
    float:left;
    position: relative;
    left:44px;
    top:65px;
    border: none;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.phone-image {
height: 30px;
position: absolute;
top: 110px;
left: -14px;
color: white;
font-weight: bold;
}